import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


url = "https://drive.google.com/uc?export=download&id=1QCJfqvNRfG2KsAgCG0pqdixvozvrsD9R"
data_ecommerce = pd.read_csv(url)

# Melihat 5 data teratas
data_ecommerce.head(5)
